<div class="display-4 mt-4 mb-4 whiteText">Regions in the World</div>

<ul class="list-unstyled">

  <li class="media">
    
    <div class="media-body align-self-center">
      <a
        style="cursor: pointer; color: ghostwhite"
        routerLink="/africa"
        class="mt-0 mb-1 bigText">
        <img class="mr-3 circle" src="../../assets/Africa.jpg" alt="Africa" style="width:25vh; height: 25vh;">
        Africa
      </a>
    </div>
  </li>

  <li class="media my-4">
    <div class="media-body align-self-center">
      <a
        style="cursor: pointer; color: ghostwhite"
        routerLink="/americas"
        class="mt-0 mb-1 bigText">
        <img class="mr-3 circle" src="../../assets/Americas.jpg" alt="Americas" style="width:25vh; height: 25vh;">
        Americas
      </a>
    </div>
  </li>

  <li class="media">
    <div class="media-body align-self-center">
      <a
        style="cursor: pointer; color: ghostwhite"
        routerLink="/asia"
        class="mt-0 mb-1 bigText">
        <img class="mr-3 circle" src="../../assets/Asia.jpg" alt="Asia" style="width:25vh; height: 25vh;">
        Asia
      </a>
    </div>
  </li>

  <li class="media my-4">
    <div class="media-body align-self-center">
      <a
        style="cursor: pointer; color: ghostwhite"
        routerLink="/europe"
        class="mt-0 mb-1 bigText">
        <img class="mr-3 circle" src="../../assets/Europe.jpg" alt="Europe" style="width:25vh; height: 25vh;">
        Europe
      </a>
    </div>
  </li>

  <li class="media">
    <div class="media-body align-self-center">
      <a
        style="cursor: pointer; color: ghostwhite"
        routerLink="/oceania"
        class="mt-0 mb-1 bigText">
        <img class="mr-3 circle" src="../../assets/Oceania.jpg" alt="Oceania" style="width:25vh; height: 25vh;">
        Oceania
      </a>
    </div>
  </li>

</ul> <!-- end of ul media list -->